# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-added-large-files
    -   id: check-toml
    -   id: check-yaml
        args:
        -   --unsafe
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.37.3
    hooks:
    -   id: pyupgrade
        args:
        - --py3-plus
        - --keep-runtime-typing
        exclude: ^(docs/.*|frontend/.*|.github/.*)$
-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        args:
        - --recursive
        - --in-place
        - --remove-all-unused-imports
        - --remove-unused-variables
        - --expand-star-imports
        - --exclude
        - __init__.py
        - --remove-duplicate-keys
        exclude: ^(docs/.*|frontend/.*|.github/.*)$
-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        name: isort (python)
        exclude: ^(docs/.*|frontend/.*|.github/.*)$
    -   id: isort
        name: isort (cython)
        types: [cython]
        exclude: ^(docs/.*|frontend/.*|.github/.*)$
    -   id: isort
        name: isort (pyi)
        types: [pyi]
        exclude: ^(docs/.*|frontend/.*|.github/.*)$
-   repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    -   id: black
        exclude: ^(docs/.*|frontend/.*|.github/.*)$
