/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
body, html {
  width: unset;
  height: unset;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.demoVideo {
  width: 80%;
  border-radius: 7px;
}

@media screen and (max-width: 996px) {
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .demoVideo {
    width: 100%;
    border-radius: 7px;
  }
}

@media screen and (max-width: 638px) {
  .buttonStar {
    margin-top: 20px
  }
}